In [1]:
import os
print(os.environ['SPARK_HOME'])

/usr/local/software/spark

In [3]:
#import findspark
#findspark.init()
import pyspark

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .master("local") \
    .appName("Adolfo-Dataset") \
    .getOrCreate()

In [5]:
spark.version

'2.2.0'

### 2. Data Loading

Data inspection shows that the data does not have a header.

In [ ]:
def readLine(line):
    """ Parse a line from the input data
    Args:
        line (str): a line (row) of the input data file
    Returns:
        Row : row object containin the parsed elements from the line
        Note we are adding schema by directly transforming the str into double types
    """
    
    parts=re.split(",", line)
   
    # Read in each feature PLUS THE TARGET
    lat = parts[0]
    lon = parts[1]
    age = parts[2]
    trm = parts[3]
    tbr = parts[4]
    pop = parts[5]
    hou = parts[6]
    inc = parts[7]
    val = parts[8]
        
    return Row(
                latitude=float(lat),
                longitude=float(lon),
                median_housing_age=float(age),
                total_rooms=float(trm),
                total_bedrooms=float(tbr),
                population=float(pop),
                households=float(hou),
                median_income=float(inc),
                median_value=float(val)
           )